* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
p {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
ul li {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
html {
  background-color: white;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

header {
  display: none;
}

.img-shopping-bag {
  height: 18px;
  width: 18px;
}

.iphone-16-family {
  position: relative;
  height: 150vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.iphone-16-family::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../images/iphone-16.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  transform: scale(1.02);
}

.first-child {
  position: relative;
  color: #000;
  z-index: 1;
}

.heading {
  font-size: 54px;
  font-family: SF Pro Text, Helvetica, sans-serif;
  font-weight: 600;
  margin: 30px 0 10px;
}

.paragraph {
  font-size: 26px;
  margin-bottom: 20px;
}

.btn1,
.btn2 {
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 16px;
  margin: 5px;
  font-family: SF Pro Text, Helvetica, sans-serif;
  cursor: pointer;
}

.btn1 {
  background-color: #0177ed;
  border: none;
  color: white;
}

.btn2 {
  border: 1px solid #0177ed;
  background-color: transparent;
  color: #0177ed;
}
/* img error  */
.btn2:hover {
  background-color: #0177ed;
  color: white;
}

.gradient {
  background: linear-gradient(to left, #f55600, #f2416b, #ba62fc, #0090f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}
div.ipad-pro {
  height: 85vh;
  background-image: url("../images/iPad-pro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.first-child-ipad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-ipad {
  font-size: 54px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-weight: 460;
  margin: 53px 0px 4px;
  color: #fff;
}
.paragraph-ipad {
  font-size: 26.5px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  word-spacing: 0.01px;
  color: #fff;
}
.btn1-ipad {
  padding: 11.7px 24px;
  color: white;
  background-color: #0177ed;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 301;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-right: 12px;
}
.btn2-ipad {
  padding: 11.7px 24px;
  color: #0177ed;
  background-color: transparent;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 301;
}
.btn2-ipad:hover {
  background-color: #0177ed;
  color: #fff;
}
.second-child-ipad {
  margin: 19px 0px 0px;
}
.third-child-ipad {
  position: absolute;
  bottom: 8%;
}
.gradient-ipad {
  background: -webkit-linear-gradient(
    right,
    #f55600,
    #f2416b,
    #ba62fc,
    #0090f7
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.mac-ipad {
  display: flex;
  flex-direction: row;
}
div.mac {
  height: 72vh;
  background-image: url("../images/MacBook.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 10px 5px 5px 10px;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-child-mac-ipad {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-mac-ipad {
  font-size: 37px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-weight: 460;
  margin: 53px 0px 4px;
  color: #000;
}
.paragraph-mac-ipad {
  font-size: 20px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  word-spacing: 0.01px;
  color: #000;
}
.paragraph-mac-ipad-1 {
  font-size: 20px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  word-spacing: 0.01px;
  color: #000;
}
.btn1-mac-ipad {
  padding: 8.7px 15px;
  color: white;
  background-color: #0177ed;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-right: 10px;
}
.btn2-mac-ipad {
  padding: 8.7px 18px;
  color: #0177ed;
  background-color: transparent;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
}
.btn2-mac-ipad:hover {
  background-color: #0177ed;
  color: #fff;
}
.second-child-mac-ipad {
  margin: 19px 0px 0px;
}
.third-child-mac-ipad {
  position: absolute;
  bottom: 8%;
}
.gradient-mac-ipad {
  background: -webkit-linear-gradient(
    right,
    #f55600,
    #f2416b,
    #ba62fc,
    #0090f7
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
div.ipads {
  height: 72vh;
  background-image: url("../images/ipads.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 10px 10px 5px 5px;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-child-mac-ipad-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-mac-ipad-2 {
  background: url("../images/ipad-air-text.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 4vh;
  width: 10vw;
  margin: 60px auto 10px;
}
.paragraph-mac-ipad-2 {
  font-size: 20px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  word-spacing: 0.01px;
  color: #000;
}
.btn1-mac-ipad-2 {
  padding: 8.7px 15px;
  color: white;
  background-color: #0177ed;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-right: 8px;
}
.btn2-mac-ipad-2 {
  padding: 8.7px 18px;
  color: #0177ed;
  background-color: transparent;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
}
.btn2-mac-ipad-2:hover {
  background-color: #0177ed;
  color: #fff;
}
.second-child-mac-ipad-2 {
  margin: 19px 0px 0px;
}
.third-child-mac-ipad-2 {
  position: absolute;
  bottom: 8%;
}
.gradient-mac-ipad-2 {
  background: -webkit-linear-gradient(
    right,
    #f55600,
    #f2416b,
    #ba62fc,
    #0090f7
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.watch-airpods {
  display: flex;
  flex-direction: row;
}
div.watch {
  height: 72vh;
  background-image: url("../images/Watch.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 5px 5px 10px 10px;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-child-watch-airpods {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-watch-airpods {
  font-size: 30px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-weight: 460;
  margin: 53px 0px 0px;
  color: #000;
}
.paragraph-watch-airpods {
  font-size: 16px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  word-spacing: 0.01px;
  color: #000;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 3px 0px 10px;
}
.paragraph-watch-airpods-1 {
  font-size: 20px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  word-spacing: 0.01px;
  color: #000;
}
.btn1-watch-airpods {
  padding: 8.7px 15px;
  color: white;
  background-color: #0177ed;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-right: 10px;
}
.btn2-watch-airpods {
  padding: 8.7px 18px;
  color: #0177ed;
  background-color: transparent;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
}
.btn2-watch-airpods:hover {
  background-color: #0177ed;
  color: #fff;
}
.second-child-watch-airpods {
  margin: 19px 0px 0px;
}
div.airpods {
  height: 72vh;
  background-image: url("../images/Airpods.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 5px 10px 10px 5px;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.first-child-watch-airpods-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-watch-airpods-2 {
  font-size: 38px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-weight: 460;
  color: #fff;
}
.paragraph-watch-airpods-2 {
  font-size: 19px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  color: #fff;
}
.btn1-watch-airpods-2 {
  padding: 8.7px 15px;
  color: white;
  background-color: #0177ed;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-right: 8px;
}
.btn2-watch-airpods-2 {
  padding: 8.7px 18px;
  color: #0177ed;
  background-color: transparent;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
}
.btn2-watch-airpods-2:hover {
  background-color: #0177ed;
  color: #fff;
}
.second-child-watch-airpods-2 {
  margin: 14px 0px 50px;
}
.phone-card {
  display: flex;
  flex-direction: row;
}
div.phone {
  height: 72vh;
  background-image: url("../images/iphone-in-hand.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0px 5px 10px 10px;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-child-phone-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-phone-card {
  font-size: 35px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-weight: 460;
  margin: 53px 0px 5px;
  color: #000;
}
.paragraph-phone-card {
  font-size: 20px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  word-spacing: 0.01px;
  color: #000;
}
.paragraph-phone-card-1 {
  font-size: 20px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  word-spacing: 0.01px;
  color: #000;
}
.btn1-phone-card {
  padding: 8.7px 15px;
  color: white;
  background-color: #0177ed;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-right: 10px;
}
.second-child-phone-card {
  margin: 19px 0px 0px;
}
div.card-1 {
  height: 72vh;
  background-image: url("../images/Apple-card.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0px 10px 10px 5px;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-child-phone-card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-phone-card-2 {
  font-size: 38px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-weight: 460;
  color: #000;
  margin: 53px 0px 5px;
}
.paragraph-phone-card-2 {
  font-size: 19px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  color: #000;
}
.paragraph-phone-card-2-1 {
  font-size: 19px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  color: #000;
}
.btn1-phone-card-2 {
  padding: 8.7px 15px;
  color: white;
  background-color: #0177ed;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  margin-right: 8px;
}
.btn2-phone-card-2 {
  padding: 8.7px 17px;
  color: #0177ed;
  background-color: transparent;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  border: 1px solid #0177ed;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 301;
}
.btn2-phone-card-2:hover {
  background-color: #0177ed;
  color: #fff;
}
.second-child-phone-card-2 {
  margin: 20px 0px 50px;
}
footer {
  background-color: #f5f5f7;
  color: #00000064;
}
.long-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 67%;
}
p.first {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  padding: 20px 0px;
  font-size: small;
}
p.second {
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  padding: 0px 0px 20px;
  font-size: small;
}
.link-in-text-1 {
  color: #0000009c;
}
.hr {
  width: 100%;
  max-width: 67%;
  margin: auto;
  height: 0.1px;
}
.footer-information {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  max-width: 67%;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 75px;
  margin: auto;
  width: 100%;
  max-width: 67%;
  color: #000;
  font-size: 12px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.first-row {
  display: flex;
  flex-direction: column;
}
.p {
  font-weight: 500;
  padding: 10px 0px 0px;
  font-size: 13px;
  white-space: nowrap;
}
.a {
  padding: 10px 0px 0px;
  text-decoration: none;
  color: #00000097;
  white-space: nowrap;
}
.a:hover {
  text-decoration-line: underline;
}
.p2 {
  font-weight: 500;
  padding: 30px 0px 0px;
  font-size: 13px;
}
.second-row {
  display: flex;
  flex-direction: column;
}
.alone-text {
  width: 100%;
  max-width: 67%;
  margin: auto;
}
.link-p {
  color: #00000089;
  font-weight: 400;
  font-size: 12px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  padding: 20px 0px;
}
.link-color {
  color: #0267cc;
}
.copyright {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  width: 100%;
  max-width: 67%;
  margin: auto;
  font-weight: 400;
  font-size: 12px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.last-p {
  color: #00000089;
  white-space: nowrap;
  margin-right: 30px;
}
.last {
  color: #00000089;
  white-space: nowrap;
  text-decoration: none;
}
.last:hover {
  text-decoration: underline;
}
.last-1 {
  color: #00000089;
  white-space: nowrap;
  text-decoration: none;
}
.last-1:hover {
  text-decoration: underline;
}
.last-a {
  margin-left: 200px;
}